:root {
  --vermelho: #E50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

 /* Elementos Iniciais */

body {
  background: var(--preta);
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelho);
  margin-left: 5px;
  font-size: 40px;
  font-family: 'Arial Black';
}

header nav a {
  text-decoration: none;
  color: #AAA;
}

header nav a:hover {
  color: #fff;
}

 /* Filme Principal */

.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('');

  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .tittle {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .description {
  margin-bottom: 40px;
}

.botao {
  background-color: rgba(0, 0, 0, .50);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: .5s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 30px;
  margin-right: 10px;
}

.filme-principal .container {
  width: 70%;
}

.item {
  height: 100%;
  width: 100%;
  display: block;
}